.my-purchases-page {
    padding: 20px;
    background-color: transparent;
    position: relative;
}

.my-purchases-page .purchases-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-purchases-page .purchase-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    width: calc(100% - 40px);
    background-color: #1C5560;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.my-purchases-page .purchase-description {
    flex-grow: 1;
}

.my-purchases-page .movie-poster {
    width: 90px;
    height: auto;
    margin-left: 10px;
}

.my-purchases-page .purchase-name {
    font-size: 20px;
    color: #FBFFCD;
}

.my-purchases-page .purchase-seats,
.my-purchases-page .purchase-date,
.my-purchases-page .purchase-price {
    font-size: 16px;
    color: #FBFFCD;
}

.my-purchases-page .error-message {
    color: red;
    margin-bottom: 20px;
}

.my-purchases-page .content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* New styles for the buttons */
.my-purchases-page .menu {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 20px; /* Space between buttons */
    margin: 20px 0; /* Space above and below the button menu */
}

.my-purchases-page .menu button {
    padding: 10px 20px; /* Padding for button */
    font-size: 16px; /* Font size */
    background-color: #79AE92; /* Button background color */
    color: #FBFFCD; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.my-purchases-page .menu button:hover {
    background-color: #1C5560; /* Darker shade on hover */
}

.my-purchases-page .menu button.active {
    background-color: #3a6073; /* Active button color */
    font-weight: bold; /* Bold text for active button */
}

.cancel-button {
    background-color: #144450;
    color: #FBFFCD;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    border-radius:5%;
}


.cancel-button:hover {
    background-color: #FBFFCD;
    color: #144450;
}