/* public/stylesHomePage.css or src/stylesHomePage.css */
/* Styles for the main page */

body {
    background: linear-gradient(to bottom, #001f36, #000000);
    margin: 0;  /* Remove default margins */
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;  /* Ensure the gradient covers the entire viewport */
}

.home-page {
    padding: 0%;
    font-family:sans-serif;
    text-align: center;
    width: 100vw;
}

/* Navigation bar at the top */
.navbar {
    display: flex;
    background-color: #1C5560;
    padding: 0;
    color: #FBFFCD;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 10vh;
    width: 100%;
}

.cine-name {
    font-size: 150%;
    margin: 2%;  /* Changed to percentage */
}

.Capital {
    color: #FBFFCD;
}

.Lower {
    color: #79AE92;
}

/* Styles for the buttons */

.dropdown-button, .hlogin-button, .dropdown-menu, .dropdown-menu li{
    display: inline-block;
    background-color: #144450;
    color: #FBFFCD;
    border: none;
    padding: 1% 2%;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    margin: 1% 2%;
    justify-content: center;
    height: auto;
    line-height: normal;
    align-self: center;
    width: auto;
}

.nav-button:hover, .hlogin-button:hover, .dropdown-button:hover {
    background-color: #144450;
    color: #FBFFCD;
}

/* Styles for the dropdown menu */
.dropdown {
    display: inline-block;
    background-color: #144450;
    color: #FBFFCD;
    border: none;
    padding: 1% 2%;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    margin: 1% 2%;
    justify-content: center;
    height: auto;
    line-height: normal;
    align-self: center;
    width: auto;

    left: 50%;
    transform: translateX(-50%);

}

.dropdown-menu li:hover {
    background-color: #1C5560;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

/* Styles for the main content */
.content {
    position: relative;
    margin-top: 2%;  /* Changed to percentage */
    margin-bottom: 2%;
    font-family: Arial, sans-serif;
    color: #79AE92;
    justify-content: center;
}

/* Styles for the movies container */
.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;  /* Changed to percentage */
    padding: 2%;  /* Changed to percentage */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.movies-grid {
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}


.movie-item {
    display: flex;
    flex-direction: column;  /* Coloca elementos en una columna */
    align-items: center;  /* Centra horizontalmente los elementos */
    width: 20%;  /* Establece un ancho fijo o en porcentaje para uniformar */
    height: auto;
    padding: 5%;
    background-color: #1C5560;
    border-radius: 8px;
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño final */
    justify-content: space-between;
}

.movie-item img {
    width: 20vh;
    height: 40vh;  /* Adjusted to viewport height */
    object-fit: cover;
}

/* Title */
.movie-item h2 {
    text-align: center;
    margin: 0px 0px;  /* Changed to percentage */
    font-size: 100%;  /* Adjusted font size */
    height: 5%;  /* Changed to percentage */
}

.buy-button {
    color: #1C5560;
    background-color: #FBFFCD;
    border: none;
    padding: 2% 4%;
    font-size: 100%;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;  /* El botón ocupa todo el ancho del contenedor */
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    height: 40px;  /* Ajusta la altura para que sea consistente entre botones */
    margin-top: auto;
}

/* Hover effect (on mouseover) */
.buy-button:hover {
    background-color: #144450;  /* Background color on hover */
    color: #FBFFCD;
}

/* Styles for the arrows */


.left-arrow {
    position: absolute;
    top: 50%;  /* Alinea las flechas verticalmente en el centro */
    transform: translateY(-50%);  /* Centra las flechas verticalmente */
    background-color: transparent;
    border: none;
    font-size: 300%;
    cursor: pointer;
    color: #FBFFCD;
    z-index: 2;
    left: 0;
}

.right-arrow {
    position: absolute;
    top: 50%;  /* Alinea las flechas verticalmente en el centro */
    transform: translateY(-50%);  /* Centra las flechas verticalmente */
    background-color: transparent;
    border: none;
    font-size: 300%;
    cursor: pointer;
    color: #FBFFCD;
    z-index: 2;
    right: 0;
}


