/* public/stylesHomePage.css o src/stylesHomePage.css */
/* Styles for the main page */


body {
    background: linear-gradient(to bottom, #001f36, #000000);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.home-page {
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;

}

/* Navigation bar at the top */
.navbar {
    display: flex;
    background-color: #1C5560;
    padding: 0px;
    color: #FBFFCD;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    box-sizing: border-box;
}

.cine-name {
    font-size: 24px;
    margin:20px ;
}

.Capital {
    color: #FBFFCD;
}

.Lower {
    color: #79AE92;
}

/* Styles for the buttons */

.hlogin-button {
    display: inline-block;
    background-color: #144450;
    color: #FBFFCD;
    border: none;
    padding: 10px 20px;
    justify-content: right;
    cursor: pointer;
    margin-left: 2%;
    font-size: 100%;
}


.login-button:hover, .dropdown-button:hover {
    background-color:#144450;
}

/* Styles for the dropdown menu */
.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-button {
    background-color: #144450;
    color: #FBFFCD;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #1C5560;
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu li {
    padding: 4% 6%;
    cursor: pointer;
    background-color: #FBFFCD;
    color: #1c5560;
}

.dropdown-menu li:hover {
    background-color: #1C5560;
    color: #FBFFCD;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

/* Styles for the main content */
.content {
    margin-top: 7%;
    font-family: Arial, sans-serif;
    color: #79AE92;
    justify-content: center;
}

/* Styles for the movies container */
.title-container {
    text-align: center;
    margin-bottom: 2%;
}

.title-container h2 {
    color: #FBFFCD;
    font-size: 200%;
    margin: 0;
}

.movies-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 1%;
}

.movies-grid {
    display: flex;
    justify-content: center;
    gap: 1%;
    flex-wrap: nowrap;
}

.movies-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2%;
    margin-top: 2%;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: #1C5560;
    border-radius: 4%;
    box-sizing: border-box;
    justify-content: space-between;
}

.movie-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;

}

/*movie - title*/
.movie-item h2 {
    text-align: center;
    margin: 4% 5%;
    font-size: 100%;
    height: 40px;
}

.movie-item {
    position: relative;
    display: inline-block;
}

.movie-poster-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.movie-poster {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.movie-poster.hovered {
    opacity: 0.3; /* Oscurece la imagen cuando el mouse está encima */
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #FBFFCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-poster-container:hover .movie-info {
    opacity: 1; /* Muestra la información al pasar el mouse */
}

.buy-button {
    color: #1C5560;
    background-color: #FBFFCD;
    border: none;
    padding: 5%;
    font-size: 100%;
    border-radius: 8%;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    margin-top: auto;
    bottom: 3%;
    height: 10%;
}

/* Efecto hover (al pasar el mouse por encima) */
.buy-button:hover {
    background-color: #144450;   /* Color de fondo al pasar el mouse */
    color: #FBFFCD;
}

/* Styles for the arrows */

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 300%;
    cursor: pointer;
    color: #FBFFCD;
}

.arrow-button:disabled {
    color: #001f36;
    cursor: not-allowed;
}

