.seat-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.seat {
    width: 20px;
    height: 20px;
    background-color: #FBFFCD;
    margin: 0.2%;
    border-radius: 10%;
}

.seat.selected {
    background-color: #79AE92;; /* Color de los asientos seleccionados */
}